.chatContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 600px;
  margin: 0 auto;
  padding: 16px;
  background-color: #ffffff; /* White background */
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 16px;
  padding: 10px;
  background-color: transparent; /* Transparent background */
  border: none; /* No borders */
}

.message {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Align messages to the right */
  margin-bottom: 12px;
}

.userMessage, .botMessage {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 8px;
  max-width: 70%; /* Limits the message width */
  word-wrap: break-word;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  align-self: flex-end; /* Align both user and bot messages to the right */
}

.userMessage {
  background-color: #e3f2fd; /* Light blue background for user messages */
  color: black;
}

.botMessage {
  background-color: #ffffff; /* White background for bot messages */
  color: black;
  border: 1px solid #e0e0e0;
}

.inputContainer {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: #ffffff;
}

.input {
  flex: 1;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  outline: none;
  padding: 8px;
  font-size: 16px;
  margin-right: 8px; /* Added margin to separate from the button */
}

.input::placeholder {
  color: #cccccc;
}

.button {
  padding: 8px 16px;
  background-color: #e3f2fd; /* Light blue background for button */
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap; /* Prevents the button text from wrapping */
}

.button:hover {
  background-color: #bbdefb; /* Slightly darker blue on hover */
}
